<h1>Create Contact for <%= @company.name %></h1>

<%= form_for [@company, @contact] do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>

<%= f.label :email %>
<%= f.text_field :email %>

<%= f.label :company  %>
<%= f.text_field :company, value: @company.name, include_id: true %>

<%= f.collection_select(:job_id, @jobs, :id, :title) %>
<%= f.submit %>
<% end %>
